.minesweeper-container{
    display: flex;
}

.empty-block{
    background-color: lightgray;
    height: 2rem;
    padding-top: 4px;
    text-align: center;
    width: 2rem;    
}

.bomb-block{
    background-color: red;
    height: 2rem;
    padding-top: 4px;
    text-align: center;
    width: 2rem;    
}

.explore-block{
    background-color: green;
    height: 2rem;
    padding-top: 4px;
    text-align: center;
    width: 2rem;    
}