.minesweeper-container{
    display: flex;
}

.empty-block{
    background-color: lightgray;
    height: 2rem;
    padding-top: 4px;
    text-align: center;
    width: 2rem;    
}

.bomb-block{
    background-color: red;
    height: 2rem;
    padding-top: 4px;
    text-align: center;
    width: 2rem;    
}

.explore-block{
    background-color: green;
    height: 2rem;
    padding-top: 4px;
    text-align: center;
    width: 2rem;    
}

.explored-block{
    background-color: brown;
    height: 2rem;
    padding-top: 4px;
    text-align: center;
    width: 2rem;  
}

.mark-block{
    background-color: black;
    height: 2rem;
    padding-top: 4px;
    text-align: center;
    width: 2rem;  
}

.btn{
    font-size: 0.7rem;
    margin: 5px;
    width: 125px;
    height: 25px;
}

.btn-active{
    border: 1px solid green;
}